*{
    margin: 0px auto;
    font-family:Arial, Helvetica, sans-serif;
}
.clearfix{
    float: none;
    clear: both;
}
#header{
    display: block;
    margin: auto;
    width: 100%;
    height: 530px;
    background:  #1f2937;
}
 #header > p{
    float: left;
    padding-top: 20px;
    padding-left: 200px;
    color: #f9faf8;
    font-size: 24px;
 }
 #nav{
    float: right;
    padding-right: 170px;
    padding-top: 25px;
 }
 #nav li ,a{
    color: #e5e7eb;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    float: left;
    text-align: right;
    padding-left: 10px;
 }
 #main-title{
    width: 450px;
    height: 2px;
    margin-left: 200px;
    margin-top: 125px;
 
 }
 #main-title h1{
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
 }
 #main-title p{
    font-size: 18px;
    color:#e5e7eb;
 }
 #main-title button{
    background: #3882f6;
    margin-top: 20px;
    height: 35px;
    width: 125px;
    border: #3882f6;
    border-radius: 10px 10px 10px 10px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
 }
 #placeholder{
    background: #6e757c;
    height:240px ;
    width: 500px;
    float: right;
    margin-right: 170px;
  
}
#placeholder > p{
    padding-top: 115px;
    text-align:center;
    color: #e5e7eb;
}
